{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section" style="padding: 20px 0 100px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeInDown">
                    <h2> {{ with .Site.Data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with .Site.Data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .Data.Pages }}
            {{"<!-- single blog post -->" | safeHTML}}
            <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                <div class="post-block">
                    <div class="media-wrapper">
                        {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-fluid">{{ end }}
                    </div>

                    <div class="content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>{{ .Summary }}</p>
                        <a class="btn btn-transparent" href="{{ .Permalink }}">Read more</a>
                    </div>
                </div>
            </article>
            {{"<!-- /single blog post -->" | safeHTML}}
            {{ end }}

            
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}